.navbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.navbar-item-container-wrapper {
    float: right;
    padding: 0 15px 0 30px;
    top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    vertical-align: middle;
    height: 30px;
}

.navbar-item-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding: 0 0 0 5px;
}

.navbar-item {
    padding: 0 0 0 15px;
}

.navbar-item a {
    text-decoration: none;
    color: black 
}

.navbar-item a:hover {
    text-decoration: underline;
}

.other-google-apps-wrapper {
    position: absolute;
    max-width: 300px;
    right: 0px;
    margin: 20px 18px 0 0;
    border-radius: 10px;
    box-shadow: 0 0 4px grey;
}

.other-google-apps-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
}

.other-google-apps-list-icon {
    position: relative;
    min-width: 84px;
    min-height: 84px;
    display: inline-block;
    padding: 3px 3px 3px 3px;
}

.other-google-app-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.other-google-app-avatar {
    margin: auto;
}