.navbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.svg-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-item-container {
    padding: 0 15px 0 30px;
    top: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    vertical-align: middle;
}

.navbar-item {
    padding: 0 0 0 15px;
    cursor: pointer;
}

.navbar-item a {
    text-decoration: none;
    color: black 
}

.navbar-item a:hover {
    text-decoration: underline;
}

// -----------------------------
// Other google apps list section
// -----------------------------

.other-google-apps-wrapper {
    position: absolute;
    max-width: 300px;
    right: 0px;
    margin: 20px 18px 0 0;
    border-radius: 10px;
    box-shadow: 0 0 4px grey;
    height: #{"calC(100vh - 200px)"}; // it gives error, if not used in strings
    overflow: auto;
}

@media screen and (max-height: 500px) {
    .other-google-apps-wrapper {
        height: #{"calC(100vh - 80px)"}; // it gives error, if not used in strings
    }
}

.other-google-apps-list {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 100px;
    list-style-type: none;
    padding: 0 0 0 0;
    justify-items: center;
}

.other-google-apps-list-icon {
    margin: 6px 6px 6px 6px;
}

.other-google-app-info {
    text-align: center;
}

.other-google-app-avatar {
    margin: auto;
}